@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
    font-weight: 400;
    height: 100vh;

/* background: #3601B3;
background: linear-gradient(45deg, #3601B3, #01EAF7); */
width: 90%;
margin: 0 auto;
}
section{
    width: 100%;
    padding: 50px;
    text-align: center;
}
h2{
    margin-bottom: 30px;
}
.borderToggle{
    border: 2px solid red;
}
.stickers{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.sticker__content{
    display: flex;
    flex-direction: column;
    width: 30%;
}
input[type=number]{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
select{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
button{
    padding: 10px 30px;
    background-color: #3601B3;
    border-radius: 5px;
    color: aliceblue;

}